
<div class="ui grid">
 	<div class="row">
 		<div class="ui two wide column">
 		</div>
		 	<div class="ui twelve wide column">
				<table class="ui table segment">
					<tbody>
						<% @cart_products.each do |product,i|%>
						<tr>
						 <td><%= image_tag product.image ,class: "ui small image "%></td>
						 <td><%= product.name %></td>
						 <td><%= product.price %></td>
						 <td><%= link_to "删除",remove_from_path(product),class: "remove",
						 method: :put,remote: true %><td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		<div class="ui two column">
		</div>
	</div>
</div>

<% content_for :javascript do%>
	<script type="text/javascript">
	$(document).ready(function () {
		$('table').on('click','.remove',function(){
			$(this).closest('tr').fadeOut();
		})	
	});
	</script>
<% end %>