<div class="ui grid">
  <div class="row">

    <div class="ui four wide column">
      <div class="ui vertical menu">
        <a class="active teal item">
          Inbox
          <div class="ui teal label">1</div>
        </a>
        <a class="item">
          Spam
          <div class="ui label">51</div>
        </a>
        <a class="item">
          Updates
          <div class="ui label">1</div>
        </a>
        <div class="item">
          <div class="ui small icon input">
            <input type="text" placeholder="Search mail...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>


    <div class="ui twelve wide column">  
     <%= render partial: 'products'%>   
     <%= paginate @products, :window => 1,:outer_window => 2 %>
    </div>  
  </div>
</div>



<p id="notice"><%= notice %></p>


        <td><%#= link_to 'Show', product %></td>
        <td><%#= link_to 'Edit', edit_product_path(product) %></td>
        <td><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<br>

<%= link_to 'New Product', new_product_path %>


<% content_for :javascript do %> 
  <script type="text/javascript"> 
    $('.ui.dropdown').dropdown();
  </script>
<% end %>